.frame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 300px;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3%;
    border-radius: 20px 10px 10px 20px;
    background-color: rgb(168, 167, 166);
}
.display {
    grid-column: span 4;
    height: 50px;
    background-color: #ebebebe5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 24px;
    margin-bottom: 10px;
}
button {
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.plus {
    background-color: rgb(139, 206, 139);
}

.equal {
    background-color: rgb(236, 198, 127);
}

.operator {
    background-color: rgb(233, 233, 99);
}