/* 
CSS rules : 

 ini contoh selector
 membuat semua elemen h1 jadi warna merah
 red adalah value 
membuat semua elemen h1 jadi warna merah.
color adalah properti.
fun fact : ada sekitar 350 properties css

*/

h1 {
    color: rgb(32, 35, 221);
}

h2 {
    font-size: 13vh;
    border: 1px green solid;
    border-radius: 12px 12px;
    text-decoration: overline blue dashed;
}

ul {
    list-style: square;
}

.branding {
    color: red;
}

.desc {
    color: blue;
}

/* 
naming class:   
penamaannya disarankan 'what they are'
not
' what they looked'
misal. ada class='branding',
jika di suatu waktu kita ingin merubah value
dari branding maka kita tinggal ubah valuenya.
sedangkan jika kita pakai nama class
'what they looked', misal red-branding = red,
suatu saat branding ganti warna biru,
tentu akan merepotkan ganti value biru dan
nama class jadi blue-branding.
bayangkan itu ada di 1000 baris code mu.

lebih aman basic naming class
'what they are '
*/

/*
styling tags or class ?

prefer styling class instead of
direct styling into tags.

DON'T
*/

/* 
-cascade rules-

urutan rules styling

- 2 rules yang sama spesifik, akan
diambil rules yg terakhir (terbawah)
*/


.cascade {
    color: red;
}

.cascade {
    color: green;
}

/* 
rules diatas konflik.
the winner is the last rules
color -> green 

*/


.two-class {
 color: yellow;
}

.two-class.also2class {
 color: rgb(228, 153, 41);
}

/*
rules diatas :

1 class vs 2 class
winner : 2 class karna
lebih spesifik
nb : 

selector -> .class1.class2
tidak dipisah spasi,tapi sambung
kalau dispasi, beda arti
menjadi &
*/
