/* ---------------css reset--------------------- */
html {
    box-sizing: border-box;
    margin: 0;
}
*,*:before,*:after {
    box-sizing: inherit;
}
p {
    line-height: 1.5;
    hyphens: auto;
}
p,h1,h2,h3 {
    overflow-wrap: break-word;
}
/* ---------------------header----------------------- */
.logo-txt {
    color: #FBF2C0;
    font-size: 50px;
}
.brand-kopi {
    background-color: #43281C;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;   

}
.logo-img {
    width: 60px;
    margin-right: 15px;
}
/* ---------------------------------------------------- */


/* ---------------------page----------------------- */


.item {
    grid-area: item;
    background-color: #EEE1D5;
    margin: 10px;
}
.bayar {
    grid-area: bayar;
    margin: 10px;
}
.nama {
    margin-bottom: 10px;
    background-color: #EEE1D5;
    padding-left: 10px;
}
.method {
    margin-top: 10px;
    background-color: #EEE1D5;
    padding-left: 10px;

}


.rincian {
    grid-area: rincian;
}
/* --------------------------------------------------- */

/* -------------------grid setting-------------------------- */
.page {
    display: grid;
    grid-template-areas: 
    "item bayar"
    "rincian rincian" ;
    grid-template-columns: 1fr 1fr;
}

/* --------------------------------------------------------- */

/* ----------------- input ---------------------*/

.hover {
    color: red;
    position: absolute;
    left: 18px;
    top: -30px;
    padding: 0 2px;
    background-color: #EEE1D5;
}
.grup {
    position: relative;
    padding-bottom: 20px;
}
input {
    border: 2px solid black;
    border-radius: 100px;
    padding: 8px;
    background-color: #EEE1D5;
}
/* ---------------------------------------------------- */