/* ---------------css reset--------------------- */
html {
    box-sizing: border-box;
    margin: 0;
}
*,*:before,*:after {
    box-sizing: inherit;
}
p {
    line-height: 1.5;
    hyphens: auto;
    color: #f5a65d;
}
p,h1,h2,h3 {
    overflow-wrap: break-word;
}

/* -------------------------------------------------- */

/* ---------------------header----------------------- */
.logo-txt {
    color: #FBF2C0;
    font-size: 50px;
}
.brand-kopi {
    background-color: #43281C;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;   

}
.logo-img {
    width: 60px;
    margin-right: 15px;
}
/* ---------------------------------------------------- */


/* ---------------------page----------------------- */


.item {
    grid-area: item;
    background-color: #EEE1D5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.bayar {
    grid-area: bayar;
}
.nama {
    margin-bottom: 10px;
    background-color: #EEE1D5;
    padding: 30px;
    border-radius: 10px;

}
.method {
    /* margin-bottom: 10px; */
    background-color: #EEE1D5;
    padding: 30px;
    border-radius: 10px;
}

li {
    list-style: none;
    border-bottom: 1px solid red;
}
.rincian {
    grid-area: rincian;
    text-align: center;
}
/* --------------------------------------------------- */

/* -------------------grid setting-------------------------- */
.page {
    width: 100%;
    padding: 30px;
    display: grid;
    row-gap: 10px;
    column-gap: 30px;
    grid-template-areas: 
    "item bayar"
    "rincian rincian" ;
    grid-template-columns: 1fr 1fr;
}

/* --------------------------------------------------------- */

/* ----------------- input ---------------------*/

.hover {
    position: absolute;
    left: 18px;
    top: -30px;
    padding: 0 2px;
    background-color: #EEE1D5;
}
.grup {
    position: relative;
    padding-bottom: 20px;
}
input {
    border: 2px solid black;
    border-radius: 100px;
    padding: 8px;
    background-color: #EEE1D5;
}
/* ---------------------------------------------------- */

/* ---------- hitungan part ----------*/


button {
    background-color: #f6fa0d;
    border-radius: 10px;
    border:none
}
/* ---------------------------------- */