/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------- css reset ---------------------  */
.kontainer {
	padding: 2vh;
	min-width: 18vh;
	max-width: 20vh;
	width: 100%;
	position: absolute;
	grid-template-columns: 1fr 1fr;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #553D36;
	border-radius: 10px;

}
.display {
	border-radius: 4px 4px 4px 4px;
	background-color: #819399;
	height: 5vh;
	margin-bottom: 2vh;
	text-align: right;
	padding: 3px;
	font-size: 2rem;
}

p{
	font-family: monospace;
	align-items: center;
}
.frame {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 1vh;
	column-gap: 1vh;
}

.item {
	color: #ebf2fa;
	background-color: #857885;
	border-radius: 5px;
	text-align: center;
	font-size: 1.5rem;
}

.itemeq {
	grid-column: 2 / span 2;
	grid-row: 4;
	background-color: #8fd694;
	padding: 0 1rem;
}

.op {
	background-color: #FBB02D;
}
